.page-container {
  width: 100%;
  background-color: transparent;
}

.page-smooth-scroll {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Enables vertical snap */
  scroll-behavior: smooth; /* Smooth animated scroll */
}
