.contact-card {
  --contact-footer-height: 4vh;

  display: grid;
  grid-template-rows: calc(99vh - var(--contact-footer-height)) var(--contact-footer-height);

  inset: auto;
}

.contact-card-content {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}

.contact-card-footer {
  text-align: center;
  border: 1px solid cyan;
}

@media only screen and (min-width: 1080px) {
  .contact-card {
    --contact-footer-height: 10vh;
  }

  .contact-card-content {
    flex-direction: row;
    padding: 15rem 5rem;
  }
}
